# Ignore .pem files
*.pem

# Ignore Terraform-related files
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Allow main.tf and the my-react-app directory
!main.tf
!my-react-app/
!my-react-app/**
